.container-tabla {
  max-width: 800px;
  margin: 2rem auto;
}

.fila {
  display: flex;
  align-items: center;
}

td {
  flex: 1;
}

.commit {
  flex: 2;
}

.name {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 0;
}